body {
    font-family: -apple-system-font, "Helvetica Neue";
    font-weight: 200;
    margin:0;
    padding:0;
    background:#eceff0;
}
.clear {
    clear:both;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:not(input) {
	-webkit-user-select: none;
}
input, button {
	outline:none;
}
#refresh {
	font-size: 32px;
	background: #FFF;
	z-index: 9999;
	position: fixed;
	top:0;
	right:0;
	width:50px;
	height:50px;
	line-height: 50px;
	text-align: center;
}