#students {
    padding-left:9px;
    padding-right:9px;
    padding-top:131px;
}

.student {
    float:left;
    margin:1px;
    color:#FFF;
    width:248px;
    height:248px;
    position: relative;
    font-size: 34px;
    line-height: 36px;
    border-radius: 3px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition:.2s;
}
.student:active {
	-webkit-transform:scale(.9);
}
.girl {
	background-color:#b052c3 !important;
}


.student .name {
    position: absolute;
    background: rgba(0,0,0,.5);
    bottom:0;
    left:0;
    right:0;
    box-sizing: border-box;
    overflow: hidden;
    padding:8px 10px;
    word-wrap: break-word;
    z-index: 3;
}
.student_picture_holder {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#308ebf;
	opacity: .4;
	z-index: 1;
}
.student.checked-in .student_picture_holder {
    opacity: 1;
}
.student .no-picture {
    text-align: center;
    width:100%;
    color:#eceff0;
    line-height: 248px;
    font-size: 180px;
    display: none;
    position: relative;
    z-index: 2;
}
.student.no-picture .no-picture {
    display: block;
}
#students.class10 {
    padding-left:10px;   
    padding-left:10px;
}
.class10 .student {
    width:185px;
    height:185px;
    font-size: 26px;
    line-height: 28px;
}
.class10 .student .no-picture {
    line-height: 185px;
    font-size: 140px;
}
.class17 .student {
    width:148px;
    height:148px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
}
.class17 .student .no-picture {
    line-height: 148px;
    font-size: 110px;
}
.class26 .student {
    width:123px;
    height:123px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
}
.class26 .student .no-picture {
    line-height: 123px;
    font-size: 90px;
}