#students {
    padding-left:9px;
    padding-right:9px;
    padding-top:131px;
}

.child {
    float:left;
    margin:1px;
    color:#FFF;
    width:248px;
    height:248px;
    position: relative;
    font-size: 34px;
    line-height: 36px;
    border-radius: 3px;
    overflow: hidden;
	opacity: .6;
    background-color:#308ebf;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.child.checked-in {
    opacity: 1;
}
.child .name {
    position: absolute;
    background: rgba(0,0,0,.5);
    bottom:0;
    left:0;
    right:0;
    box-sizing: border-box;
    overflow: hidden;
    padding:8px 10px;
    word-wrap: break-word;
}
.child .no-picture {
    text-align: center;
    width:100%;
    color:#eceff0;
    line-height: 248px;
    font-size: 180px;
    display: none;
}
.child.no-picture .no-picture {
    display: block;
}
#students.class10 {
    padding-left:10px;   
    padding-left:10px;
}
.class10 .child {
    width:185px;
    height:185px;
    font-size: 26px;
    line-height: 28px;
}
.class10 .child .no-picture {
    line-height: 185px;
    font-size: 140px;
}
.class17 .child {
    width:148px;
    height:148px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
}
.class17 .child .no-picture {
    line-height: 148px;
    font-size: 110px;
}
.class26 .child {
    width:123px;
    height:123px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
}
.class26 .child .no-picture {
    line-height: 123px;
    font-size: 90px;
}