<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.ajsoftware.lynda.samoca"
	versionCode="1"
	version   = "1.0">
    <name>MyClassroom</name>
    <description>
MyCenter Classroom App	</description>
<author href="oscarbrown.com" email="hello@oscarbrown.com">
Oscar Brown
</author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="disallowOverscroll" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="prerendered-icon" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackgroundColor" value="0xffffffff "/>
    <preference name="KeepRunning" value="true"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <gap:plugin name="org.apache.cordova.camera"  />
    <gap:plugin name="org.apache.cordova.dialogs"  />
    <gap:plugin name="org.apache.cordova.device"  />
    <gap:plugin name="org.apache.cordova.network-information"  />
    <gap:plugin name="org.apache.cordova.console"  />
    <gap:plugin name="org.apache.cordova.inappbrowser"  />
    <gap:plugin name="org.apache.cordova.network-information"  />
    <gap:plugin name="org.apache.cordova.splashscreen"  />
    <access origin="*" subdomains="true" />

    
    
    
</widget>